/*@font-face {
    font-family: 'IamBanky English';
    src:  url('/font/IamBankyEnglish.woff2') format('woff2'),
          url('/font/IamBankyEnglish.woff') format('woff'),
         url('/font/IamBankyEnglish.ttf') format('truetype');
}*/

@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Handjet', cursive;
    font-size: 20px;
    letter-spacing: 1px;
}

img {
    border-radius: 50%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: auto;
    max-width: 125px;
    cursor: pointer;
}

#logo:hover { opacity: 0.7; }

.title {
    text-align: center;
    padding: 10px;
}

a {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    transition: color 1s;
    z-index: 1;
}

a:hover {
    color: white;
    background: black;
}

.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.link {
    overflow: auto;
}
.name {
    text-align: center;
    padding-bottom: 5px;
}

.line {
    margin: 50px;
}

.seo {
    color: white;
    font-size: 2px;
}
/*
.swal-button--no {
    background-color: #eb0000;
}

.swal-button--no:hover {
    background-color: gray;
}

.swal-button--yes {
    background-color: #3a9425;
}

.swal-button--yes:hover {
    background-color: gray;
}*/

.circles {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -1;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

